<b>This is a Cellmate change notification</b>

<p>This Nominal of interest has a new Cellmate</p>


<p>The information on this notification has been provided by Her Majesty's Prison Service
and is for intelligence purposes only.  Should you wish to raise or clarify any issues
regarding this notification please contact the prison concerned.

IMPORTANT: Please ensure when copying this information to include all the additional warnings and information. </p>

CELLMATE DETAILS:
<p>
Name: $!cellmateDetails.displayName
</p>
<p>
DOB: $!{dateTool.format('dd/MM/yyyy', $!cellmateDetails.dob)}
</p>
<p>
PNCID: $!cellmateDetails.pncid
</p>
<p>
NOMS No.: $!cellmateDetails.nomisNUmber
</p>
<p>
Booking No.: $!cellmateDetails.bookingNumber
</p>


NOMINAL DETAILS:
<p>
Name: $!nominalDisplayName
</p>
<p>
DOB: $!{dateTool.format('dd/MM/yyyy', $!dob)}
</p>
<p>
PNCID: $!pncid
</p>
<p>
NOMS No.: $!nomisNumber
</p>
<p>
Booking No.: $!bookingNumber
</p>
<p>
Establishment: $!prison.prisonName
</p>
<p>
Release Reason: $!releaseReason
</p>
<p>
Release Date: $!{dateTool.format('dd/MM/yyyy', $!releaseDate)}
</p>
<p>
Main Offence: $!mainOffence
</p>
<p>
Other Offences: $!otherOffences
</p>
<p>
Reception Address: $!sentAddress
</p>
<p>
Discharge Address: $!dischAddress
</p>
<p>
#if($notes)
Notes: $!notes
#else
Notes: No notes for this nominal
#end
</p>
#parse('ContactInfo.html')

<p>

If the prisoner above is subject to MAPPA/PPO legislation HMPS are duty bound to share information on the prisoner via the agreed process. If the prisoner is not a MAPPA/PPO subject and you wish further information on this prisoner the HMPS require the completion of a PAS1 form.  Send the form direct to the prison concerned.  

NOTE: Release details.
Please be aware that a number of variable factors may alter the final date of release. Contact the prison direct to confirm a release date or information. 

You can contact HMPS Prisoner Locations via e-mail to Prisoner.Location.Service@hmps.gsi.gov.uk.
</p>
