<p>
<b>This is a PINS Covert Notification. </b>
The flagged nominal record was viewed by this user at $!{dateTool.format('dd/MM/yyyy HH:mm', $!viewDate)}  
</p>

<p>The information on this notification has been provided by Her Majesty's Prison Service
and is for intelligence purposes only.  Should you wish to raise or clarify any issues
regarding this notification please contact the prison concerned.

IMPORTANT: Please ensure when copying this information to include all the additional warnings and information. </p>

#if($nominalUnit)
	PINS UNIT REGISTRATION COMMENTS:
	#if($nominalUnit.comments)
		<p>
		$!nominalUnit.comments
		</p>
	#else
		<p>
		No comments where entered during the registration
		</p>
	#end
#end

USER DETAILS:
<p>
Name: $!user.firstName, $!user.surname
</p>
<p>
Login: $!user.login
</p>
<p>
Email: $!user.email
</p>
<p>
Division: $!user.division
</p>
<br/>

NOMINAL DETAILS:
<p>
Name: $!nominalDisplayName
</p>
<p>
DOB: $!{dateTool.format('dd/MM/yyyy', $!dob)}
</p>
<p>
PNCID: $!pncid
</p>
<p>
NOMS No.:  $!nomisNumber
</p>
<p>
Booking No.: $!bookingNumber
</p>
<p>
Establishment: $!prison.prisonName
</p>
<p>
Release Reason: $!releaseReason
</p>
<p>
Release Date: $!{dateTool.format('dd/MM/yyyy', $!releaseDate)}
</p>
<p>
Main Offence: $!mainOffence
</p>
<p>
Reception Address: $!sentAddress
</p>
<p>
Discharge Address: $!dischAddress
</p>
<p>
#if($notes)
Notes: $!notes
#else
Notes: No notes for this nominal
#end
</p>
#parse('ContactInfo.html')

<p>

If the prisoner above is subject to MAPPA/PPO legislation HMPPS are duty bound to share information on the prisoner via the agreed process. If the prisoner is not a MAPPA/PPO subject and you wish further information on this prisoner the HMPPS require the completion of a OPT1 form.  Send the form direct to the prison concerned.  

NOTE: Release details.
Please be aware that a number of variable factors may alter the final date of release. Contact the prison direct to confirm a release date or information. 

You can contact HMPPS Prisoner Locations via e-mail to Prisoner.Location.Service@hmps.gsi.gov.uk.
</p>
