<b>This is an Un-notified Releases Report</b>

<p>The information on this report has been provided by Her Majesty's Prison Service
and is for intelligence purposes only.  Should you wish to raise or clarify any issues
regarding this notification please contact the prison concerned.

IMPORTANT: Please ensure when copying this information to include all the additional warnings and information. </p>

<!-- in case all the lists are empty or missing -->
#if((!$offendersNationalNoOcu || $offendersNationalNoOcu.size()==0) && (!$offendersNationalNoOcuSudden || $offendersNationalNoOcuSudden.size()==0) && (!$offendersLocalNoSent || $offendersLocalNoSent.size()==0) && (!$offendersLocalNoSentSudden || $offendersLocalNoSentSudden.size()==0)) <ul>No un-notified releases today</ul>#end

#if($offendersNationalNoOcu.size()>0 || $offendersNationalNoOcuSudden.size()>0)

<ul style="list-style-type:none !important;list-style:none !important;">
<p>
List offenders with no $division associated:
</p>
	<ul>	
		#if($offendersNationalNoOcu.size()>0)
			#foreach($offNatNoOcu in $offendersNationalNoOcu)		
			<p>$!offNatNoOcu.getForename().toLowerCase() $!offNatNoOcu.surname <BR>
			DOB:  $!offNatNoOcu.getDobStr() <BR>
			Main Offence: $!offNatNoOcu.getMainOffence()<BR>
			PNCID: $!offNatNoOcu.getPncid() <BR>
			NOMIS number: $!offNatNoOcu.getNominsNumber()<BR>
			Pins Release Date: $!{dateTool.format('dd/MM/yyyy', $!offNatNoOcu.getSentence().pinsReleasedate)}<BR>
			$!offNatNoOcu.getDischAddress().getFullAddress() <BR>
			</p>
			<BR>
			#end
		#end
		#if($offendersNationalNoOcuSudden.size()>0)
			#foreach($offNatNoOcuSudden in $offendersNationalNoOcuSudden)
			<p>$!offNatNoOcuSudden.getForename().toLowerCase() $!offNatNoOcuSudden.surname <BR>
			DOB: $!offNatNoOcuSudden.getDobStr() <BR>
			Main Offence: $!offNatNoOcuSudden.getMainOffence()<BR>
			PNCID: $!offNatNoOcuSudden.getPncid() <BR>
			NOMIS number: $!offNatNoOcuSudden.getNominsNumber()<BR>
			Pins Release Date: $!{dateTool.format('dd/MM/yyyy', $!offNatNoOcuSudden.getSentence().pinsReleasedate)}<BR>
			$!offNatNoOcuSudden.getDischAddress().getFullAddress()<BR>
			</p>
			<BR>
			#end
		#end
	</ul>	
</ul>
#end

#if($offendersLocalNoSent.size()>0 || $offendersLocalNoSentSudden.size()>0)
<ul style="list-style-type:none !important;list-style:none !important;margin-top: 2em !important;">
<p>
List of local offenders with no email in the $division.concat('s') associated:
</p>
	<ul>
		#if($offendersLocalNoSent.size()>0)
			#foreach($offLocalNoSent in $offendersLocalNoSent)
			<p>$!offLocalNoSent.getForename().toLowerCase() $!offLocalNoSent.surname <BR>
			DOB: $!offLocalNoSent.getDobStr() <BR>
			Main Offence: $!offLocalNoSent.getMainOffence() <BR>
			PNCID: $!offLocalNoSent.getPncid() <BR>
			NOMIS number: $!offLocalNoSent.getNominsNumber() <BR>
			Pins Release Date: $!{dateTool.format('dd/MM/yyyy', $!offLocalNoSent.getSentence().pinsReleasedate)} <BR>
			$!offLocalNoSent.getDischAddress().getFullAddress()<BR>
			</p>
		    <BR>
			#end
		#end
		#if($offendersLocalNoSentSudden.size()>0)
			#foreach($offLocalNoSentSudden in $offendersLocalNoSentSudden)
		    <p>$!offLocalNoSentSudden.getForename().toLowerCase() $!offLocalNoSentSudden.surname <BR>
			DOB: $!offLocalNoSentSudden.getDobStr() <BR>
			Main Offence: $!offLocalNoSentSudden.getMainOffence() <BR>
			PNCID: $!offLocalNoSentSudden.getPncid() <BR>
			NOMIS number: $!offLocalNoSentSudden.getNominsNumber() <BR>
			Pins Release Date: $!{dateTool.format('dd/MM/yyyy', $!offLocalNoSentSudden.getSentence().pinsReleasedate)} <BR>
			$!offLocalNoSentSudden.getDischAddress().getFullAddress()<BR>
			</p>
			<BR>
			#end
		#end
	</ul>
</ul>
#end


#parse('ContactInfo.html')
<p>

If the prisoner above is subject to MAPPA/PPO legislation HMPPS are duty bound to share information on the prisoner via the agreed process. If the prisoner is not a MAPPA/PPO subject and you wish further information on this prisoner the HMPPS require the completion of a OPT1 form.  Send the form direct to the prison concerned.  

NOTE: Release details.
Please be aware that a number of variable factors may alter the final date of release. Contact the prison direct to confirm a release date or information. 

You can contact HMPPS Prisoner Locations via e-mail to Prisoner.Location.Service@hmps.gsi.gov.uk.
</p>

