#parse('page_header_partial.vm')
<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td>&nbsp;</td>
		<td class="container">
			<div class="content">
				<span class="preheader">Parole Discharge</span>
				<table class="main">
					<tr>
						<td class="wrapper">
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<p><strong>This is a parole discharge notification</strong></p>
										<p style="color:red">To stop notifications, please contact your local PINS administrator.</p>
										<p>
											For your information this offender has a parole discharge date.
										</p>

										<p>
											The information on this notification has been provided by Sherrif's
											Department and is for intelligence purposes only. Should you
											wish to raise or clarify any issues regarding this notification please
											contact the prison concerned.
										</p>
										<p>
											IMPORTANT: Please ensure when copying this information to include all
											the additional warnings and information.
										</p>
										#parse('offender_details_partial.vm')
										<p>
											NOTE: Release details.
										</p>
										<p>
											Please be aware that a number of variable factors may alter the final
											date of release. Contact the prison directly to confirm a release date or
											information.
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				#parse('page_footer_partial.vm')
			</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>
